TIMEZONE=Europe/Moscow

DB_HOST=db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432

# Доступы к облаку, на которое будет отправляться файл
CLOUD_URL=https://www.example.com
CLOUD_LOGIN=login
CLOUD_PASSWORD=password
